*{
    margin: 0;
    padding: 0;
}

.cabecera{
    position: absolute;
    top: 50%;
    left: 50%;
    top: 450px;
    font-size: 50px;
    transform: translate(-50%,-50%);
    font-style: italic;
}
.cabecera h2{
    color: #fff;
}
.starbucks img{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-height: 100%;
    min-width: 100%;
    z-index: -10;
}
#menu a{
    text-decoration: none;
    font-size: 30px;
    color:red;
}

#menu a:hover{
    color: #000000;
}
#pies img{
    position: absolute;
    top: 550px;
    left: 800px;
}







.cabecera1{
    position: sticky;
    top: 0;
    background-color: #fff;
}
nav a:hover{
    color: red;
}
header h1{
    font-size: 60px;
    font-style: italic;
    padding: 60px;
}
header a{
    text-decoration: none;
    font-size: 20px;
    margin: 15px;
}


header{
    text-align: center;
}
section{
    text-align: center;
}
.articulo1{
    padding: 40px;
}
.articulo2 img{
    width: 50px;
    margin-left: 700px;
    margin-top: -40px;
    border-radius: 50px;
}
.articulo2 p{
    margin-left: 630px;
    font-style: italic;
}
.articulo2 h3{
    font-size: 25px;
    font-style: italic;
}
.articulo3 p{
    text-align: justify;
    width: 600px;
    margin-left: 150px;
    padding: 10px;
    font-style: italic;
}
.articulo3 img{
    width: 200px;
    float: left;
    margin-left: 140px;
    padding: 30px;
}
.articulo3 div{
    width: 500px;
    text-align: justify;
    margin-left: 300px;
    padding: 30px;
    font-style: italic;
}
.articulo4 img{
    width: 50px;
    border-radius: 50px;
    height: 50px;
    margin-left: 700px;
    margin-top: -90px;
}
.articulo4 h3{
    padding: 30px;
    font-size: 25px;
    font-style: italic;
}
.articulo4 p{
    margin-left:650px ;
    padding: 10px;
    font-style: italic;
}
.articulo5{
    width: 600px;
    text-align: justify;
    margin-left: 170px;
}
.articulo5 address{
    padding: 100px;
    margin-left: -100px;
    width: 450px;
}

.articulo5 img{
    width: 210px;
    margin-left: 340px;
    margin-top: -600px;
    padding: 130px;
    height: 190px;
}
.articulo5 div{
    padding: 40px;
    margin-left: -50px;
    font-style: italic;
}
#pie img{
    width: 250px;
    margin-left: 400px;
}




main{
    width: 50%;
    margin: auto;
}
.cabecera2{
    position: sticky;
    top: 0;
    background-color: #fff;
}

#imagenes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

figure{
    padding: 20px;
    text-align: center;
}
figure img{
    max-width: 200px;
    max-height: 200px;
    padding: 15px;
    height: 300px;
    border: 1px solid red;
    box-shadow: 0 0 10px;
}

figcaption{
    font-size: 25px;
    font-style: italic;
}
#pie2 img{
   width: 250px;
   margin-left:360px ;
}




.cabecera3{
    position: sticky;
    top: 0;
    background-color: #fff;
}
main{
    height: 3400px;
}

.contenedor10{
    text-align: center;
    padding: 40px;
}
.contenedor10 p{
    text-align: justify;
    width: 700px;
    margin-left: 60px;
    padding: 30px;
}

.contenedor11{
    text-align: center;
}
.contenedor11 p{
    text-align: justify;
    width: 700px;
    margin-left: 90px;
    padding: 30px;
}
#pie3 img{
    width: 250px;
    margin-left: 350px;

}